body * {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size: 14px;
}
#bienvenue{
    background-image: url("../images/bamboo-blured.jpg");
    width: 100%;
    height: auto;
    background-position: left bottom;
    background-size: cover;
}
#bienvenue h2{
    color: white;
    font-size: 4em;
    text-transform: uppercase;
    padding-top: 160px;
    padding-bottom:80px ;
    padding-left: 100px;
}
#derniers-suivis h3{
    color: #3E3D88;
    font-size: 2em;
    text-align: center;
    margin-bottom: 80px;
    margin-top: 80px;
}

#derniers-suivis > div{
    position: relative;
}
#derniers-suivis table{
    margin:auto;
    width: 90%;
}
#derniers-suivis{
    margin-bottom: 80px;
}

.bordure{
    border: 2px solid;
    border-left: none;
    border-right: none;
    border-top: #DDDDDD;
}
#titre{
    color: #AAAAAA;
    font-weight: 400;
    font-size: 1.5em;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px
}
#nom{
    text-align: right;
    padding-right: 20px;
    font-size: 1.5em;
    font-weight: 100;
    color: #AAAAAA;
    width: 100px;

}
#date{
    text-align: right;
    padding-right: 0px;
    font-size: 1.5em;
    color: #AAAAAA;
}

#header-accueil{

}
#nav-accueil{
   background-color:  #3E3D88;
   text-align: center;
   line-height: 80px;
   text-transform: uppercase;
}
#nav-accueil a{
    color: white;
    text-decoration: none;
    font-size: 1.3em;
}
#nav-accueil li{
    display: inline-block;
}
#nav-accueil li:hover{
    opacity: 0.5;
}
#nav-accueil li+li::before{
    content: '|';
    font-size: 1.4em;
    color: white;
    margin-left: 20px;
    margin-right: 20px;
}
#temoignage{
    background-color: #9E593F;
    color: white;
    text-align: center;
    padding-top:  80px;
    padding-bottom: 80px;
}
#temoignage > div{
    position: relative;
}
#temoignage p{
    margin: auto;
    width: 60%;
    text-align: center;
    font-size: 2em;
    line-height: 1.5;

}
#temoignage i{
    font-size: 4em;
    margin-bottom: 20px;
}
.conteneur{
    width: 960px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}
#header-accueil > div{
position: relative;
}
#connexion input{
    width: 250px;
    border: 1px solid #3E3D88;
    background-color: transparent;
    display: block;
    padding: 8px;
    margin-bottom: 20px;
}
#connexion button{
    border: none;
    background: #692F7A;
    color: white;
    padding: 8px;
    border-radius: 5px 5px;

}
#connexion {
    position: absolute;
    right: 0px;
    top: 0px;
}
#connexion form{
    margin-top: 20px;
    border-left: 2px solid #3E3D88;;
    padding-left: 40px;
}
#connexion button:hover{
    opacity: 0.5;
}
.clear{
    clear: both;
}
#description{
    padding-top: 80px;
}
#description i{
    color: #692F7A;
    font-size: 5em;
}
.notes{
    font-size: 1.5em;
    margin-top: 20px;
    color: #692F7A;
}
.infos{
    margin-top: 20px;
    font-size: 1.4em;
    line-height: 180%;
}
div#colonne-gauche {
    float: left;
    width: 300px;
    margin-right: 10px;
    margin-left: 10px;
}
div#colonne-centre{
    float: left;
    width: 300px;
    margin-right: 10px;
    margin-left: 10px;


 }
div#colonne-droite{
    float: left;
    width: 300px;
    margin-right: 10px;
    margin-left: 10px;
}

#description .conteneur div{
    box-shadow: 0 0 1px rgba(0,0,0,0);
    background-color: white;
    transition: all 1s ease;
    transition-property: box-shadow, background-color;
}
#description .conteneur div:hover{
    background-color: #EEEEEE;
    border-radius: 10px 10px;
    box-shadow: 0 20px 10px -10px rgba(0,0,0,0.2);
}
#pied-de-page{
    background-color: #7A3466;
    margin-top: 80px;
    padding-bottom: 80px;
}
#pied-de-page p{
    padding-top: 40px;
    color: white;
    font-size: 1.2em;
}
.float{
    float: left;
    width: 300px;
    margin-right: 10px;
    margin-left: 10px;
}
.float h6{
    font-size: 1.2em;
    margin-bottom: 40px;
    margin-top: 40px;
    color: white;
}

.float a{
    text-decoration: none;
    color: white;
    font-size: 0.8em;
    line-height: 180%;
}